# Docker Compose env

# Backend
DB_NAME=f1db
DB_USER=f1user
DB_PASSWORD=change-me
JWT_SECRET=change-me

# DB
MARIADB_ROOT_PASSWORD=change-me
MARIADB_DATABASE=f1db
MARIADB_USER=f1user
MARIADB_PASSWORD=change-me